# Ignore everything
*

app/etc/local.xml

# But not these folders...
!.gitignore

!skin
!skin/*
!skin/*/*
!skin/*/*/*
!skin/*/*/*/*
!skin/*/*/*/*/*
!skin/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

!app
!app/*
!app/*/*
!app/*/*/*
!app/*/*/*/*
!app/*/*/*/*/*
!app/*/*/*/*/*/*
!app/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*


!blog
!blog/*
!blog/*/*
!blog/*/*/*
!blog/*/*/*/*
!blog/*/*/*/*/*
!blog/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!blog/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*


!media
!media/js/*

app/etc/local.xml
blog/wp-content/uploads/*
var/*
media/*
includes/*
js/*
lib/*

