# Ignore everything
*

app/etc/local.xml

# But not these folders...
!.gitignore

!skin
!skin/*
!skin/*/*
!skin/*/*/*
!skin/*/*/*/*
!skin/*/*/*/*/*
!skin/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!skin/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

!app
!app/*
!app/*/*
!app/*/*/*
!app/*/*/*/*
!app/*/*/*/*/*
!app/*/*/*/*/*/*
!app/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*
!app/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

var/*
media/*


